<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>상품목록</title>

</head>
<body>
<p><b>상품 목록</b></p><hr>

<form method="get" th:action="@{/products}">
    <select id="type" name="type">
        <option value="all">전체</option>
        <option value="name">상품명</option>
        <option value="manufacturer">제조사</option>
    </select>
    <input id="keyword" name="keyword" placeholder="검색어를 입력하세요.">
    <button type="submit">검색</button>
</form>

<table>
    <tr>
        <th>번호</th>
        <th>상품명</th>
        <th>가격</th>
        <th>수량</th>
        <th>제조사</th>
        <th>등록자 (마지막 수정자)</th>
    </tr>

    <tr th:each="product: ${productList}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${{product.price}}"></td>
        <td th:text="${{product.quantity}}"></td>
        <td th:text="${product.manufacturer}"></td>
        <td th:text="${product.member.name}"></td>
        <td>
            <a sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN')" th:href="@{/products/update/{id}(id=${product.id})}" th:text="상품수정" class="button"></a>
        </td>
    </tr>
</table>
<ul style="list-style: none;">
    <li>
        <div style="text-align: center; display:inline-block">
            <button type="button" onclick="location.href='/'">홈</button>
            <button sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN')" type="button" onclick="location.href='products/save'">상품등록</button>
        </div>
    </li>
</ul>
</body>
</html>