<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품목록</title>

    <style>
        table {
            border-collapse: separate;
            border-spacing: 20px 20px;
        }
        .button {
            background-color: #fce205;
            color: #1e6b7b;
            border: none;
            border-radius: 4px;
            font-size: 15px;
            text-decoration-line: none;
        }
    </style>
</head>
<body>
<p><b>상품 목록</b></p>
<hr width="thin"><br>

<table>
    <tr>
        <th>번호</th>
        <th>상품명</th>
        <th>가격</th>
        <th>수량</th>
        <th>제조사</th>
    </tr>

    <tr th:each="product: ${productList}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${#numbers.formatInteger(product.price, 1, 'COMMA') + '원'}"></td>
        <td th:text="${#numbers.formatInteger(product.quantity, 1, 'COMMA') + '개'}"></td>
        <td th:text="${product.manufacturer}"></td>
        <td><a th:href="@{/product/edit/{id}(id=${product.id})}" th:text="상품수정" class="button"></a></td>
    </tr>
</table>
    <form method="get" th:action="@{/product/write}">
        <input type="submit" value="상품등록">
    </form><br>

    <form method="get" th:action="@{/}">
        <input type="submit" value="홈으로">
    </form>
</body>
</html>