<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품등록</title>
</head>
<body>
<p><b>상품 등록</b></p>
<hr width="thin"><br>

<form method="post" th:action th:object="${productSaveDto}">
    <ul style="list-style: none;">
        <li>
            <label for="name">상품명</label>&nbsp;
            <input type="text" id="name" th:field="*{name}">
            <div style="color: #ff4238; font-size: 10px;" th:errors="*{name}"></div>
        </li><br>

        <li>
            <label for="price">가격</label>&nbsp;
            <input type="number" id="price" th:field="*{price}">
            <div style="color: #ff4238; font-size: 10px;" th:errors="*{price}"></div>
        </li><br>

        <li>
            <label for="quantity">수량</label>&nbsp;
            <input type="number" id="quantity" th:field="*{quantity}">
            <div style="color: #ff4238; font-size: 10px;" th:errors="*{quantity}"></div>
        </li><br>

        <li>
            <label for="name">제조사</label>&nbsp;
            <input type="text" id="manufacturer" th:field="*{manufacturer}">
            <div style="color: #ff4238; font-size: 10px;" th:errors="*{manufacturer}"></div>
        </li><br>

        <li>
            <div style="text-align: center; display:inline-block">
                <input type="button" onclick="history.back()" value="뒤로">
                <input type="submit" value="등록"><br>
            </div>
        </li>
    </ul>
</form>
</body>
</html>