<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/page.css}">
    <title>상품목록</title>

    <script type="text/javascript">
        function inputField() {
            const type = document.getElementById('type').value;
            const keyword = document.getElementById('keyword');
            const price = document.getElementById('price');
            const priceFrom = document.getElementById('priceFrom');
            const priceTo = document.getElementById('priceTo');

            if (type === 'all' || type === 'name' || type === 'manufacturer') {
                keyword.style.display = 'block';
                price.style.display = 'none';
                keyword.disabled = false;
                priceFrom.disabled = true;
                priceTo.disabled = true;
            } else if (type === 'price') {
                keyword.style.display = 'none';
                price.style.display = 'block';
                keyword.disabled = true;
                priceFrom.disabled = false;
                priceTo.disabled = false;
            }
        }
    </script>

</head>
<body>
<p><b>상품 목록</b></p>
<hr>

<form method="get" th:action="@{/products}">
    <div>
        <select id="type" name="type" onchange="inputField()">
            <option value="all">전체</option>
            <option value="name">상품명</option>
            <option value="manufacturer">제조사</option>
            <option value="price">가격</option>
        </select>
        <input type="text" id="keyword" name="keyword" placeholder="검색어를 입력하세요.">

        <div id="price" style="display: none">
            <input type="number" id="priceFrom" name="priceFrom" placeholder="최저 가격을 입력하세요." disabled> ~
            <input type="number" id="priceTo" name="priceTo" placeholder="최대 가격을 입력하세요." disabled> 원
        </div>

        <button type="submit">검색</button>
    </div>
</form>

<table>
    <tr>
        <th>번호</th>
        <th>상품명</th>
        <th>가격</th>
        <th>수량</th>
        <th>제조사</th>
        <th>등록자 (마지막 수정자)</th>
        <th>상품수정</th>
    </tr>

    <tr th:each="product: ${productList.products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${{product.price}}"></td>
        <td th:text="${{product.quantity}}"></td>
        <td th:text="${product.manufacturer}"></td>
        <td th:text="${product.member.name}"></td>
        <td>
            <a sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN')"
               th:href="@{/products/update/{id}(id=${product.id})}" th:text="상품수정" class="button btnOrange btnPush"></a>
        </td>
    </tr>
</table>
<div class="page">
    <ul class="pagination modal">
        <li>
            <a class="num" th:if="${productList.keyword} == null and ${productList.priceFrom} == null" th:href="@{/products(page=${productList.page - 10 >= 1 ? productList.page - 10 : 1})}">이전</a>
            <a class="num" th:if="${productList.keyword} != null" th:href="@{/products(type=${productList.type}, keyword=${productList.keyword}, page=${productList.page - 10 >= 1 ? productList.page - 10 : 1})}">이전</a>
            <a class="num" th:if="${productList.priceFrom} != null" th:href="@{/products(type=${productList.type}, priceFrom=${productList.priceFrom}, priceTo=${productList.priceTo}, page=${productList.page - 10 >= 1 ? productList.page - 10 : 1})}">이전</a>
        </li>

        <li th:each="i : ${#numbers.sequence(productList.start, productList.end)}">
            <a class="num" th:text="${i}" th:if="${productList.keyword} == null and ${productList.priceFrom} == null" th:href="@{/products(page=${i})}"></a>
            <a class="num" th:text="${i}" th:if="${productList.keyword} != null" th:href="@{/products(type=${productList.type}, keyword=${productList.keyword}, page=${i})}"></a>
            <a class="num" th:text="${i}" th:if="${productList.priceFrom} != null" th:href="@{/products(type=${productList.type}, priceFrom=${productList.priceFrom}, priceTo=${productList.priceTo}, page=${i})}"></a>
        </li>

        <li>
            <a class="num" th:if="${productList.keyword} == null and ${productList.priceFrom} == null" th:href="@{/products(page=${productList.page + 10 <= productList.last ? productList.page + 10 : productList.end})}">다음</a>
            <a class="num" th:if="${productList.keyword} != null" th:href="@{/products(type=${productList.type}, keyword=${productList.keyword}, page=${productList.page + 10 <= productList.last ? productList.page + 10 : productList.end})}">다음</a>
            <a class="num" th:if="${productList.priceFrom} != null" th:href="@{/products(type=${productList.type}, priceFrom=${productList.priceFrom}, priceTo=${productList.priceTo}, page=${productList.page + 10 <= productList.last ? productList.page + 10 : productList.end})}">다음</a>
        </li>
    </ul>
</div>

<ul style="list-style: none;">
    <li>
        <div style="text-align: center; display:inline-block">
            <a href="" title="Button fade lightblue" class="button btnFade btnLightBlue">Fade</a>
            <button type="button" onclick="location.href='/'">홈</button>
            <button sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN')" type="button"
                    onclick="location.href='products/save'">상품등록
            </button>
        </div>
    </li>
</ul>
</body>
</html>