<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>상품수정</title>

</head>
<body>
<p><b>상품 수정</b></p><hr>

<form method="post" th:action="@{/products/update}" th:object="${productUpdateDto}">
    <ul style="list-style: none;">
        <li>
            <input type="hidden" th:field="*{id}"/>
            <label for="name">상품명</label>
            <input type="text" id="name" th:field="*{name}">
            <div class="error" th:errors="*{name}"></div>
        </li><br>

        <li>
            <label for="price">가격</label>&nbsp;
            <input type="number" id="price" th:field="*{price}">
            <div class="error" th:errors="*{price}"></div>
        </li><br>

        <li>
            <label for="quantity">수량</label>&nbsp;
            <input type="number" id="quantity" th:field="*{quantity}">
            <div class="error" th:errors="*{quantity}"></div>
        </li><br>

        <li>
            <label for="name">제조사</label>&nbsp;
            <input type="text" id="manufacturer" th:field="*{manufacturer}">
            <div class="error" th:errors="*{manufacturer}"></div>
        </li><br>

        <li>
            <div style="text-align: center; display:inline-block">
                <input type="button" onclick="history.back()" value="뒤로">
                <input type="submit" value="수정">
            </div>
        </li>
    </ul>
</form>
</body>
</html>