<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>로그인</title>

</head>
<body>
<p><b>로그인</b></p><hr>

<form method="post" th:action="@{/login}" th:object="${loginDto}">
    <ul style="list-style: none;">
        <li>
            <label for="username">ID</label>&nbsp;
            <input type="text" id="username" th:field="*{username}">
        </li><br>

        <li>
            <label for="password">password</label>&nbsp;
            <input type="password" id="password" th:field="*{password}">
        </li><br>

        <li>
            <div class="error" th:if="${error != null}">아이디나 비밀번호를 확인해주세요.</div><br>
        </li>

        <li>
            <div style="text-align: center; display:inline-block">
                <button type="button" onclick="location.href='/'">홈</button>
                <input type="submit" value="로그인">
            </div>
        </li>
    </ul>
</form>
</body>
</html>